# Stripe CLI Configuration
STRIPE_API_KEY="sk_test_...."

# The port on which your local server is running to receive Stripe webhooks
PORT=3333


# The host to forward Stripe webhooks to (use host.docker.internal for Docker on Windows/Mac)
HOST=host.docker.internal